body {
  background-color:LightGray;
  background-image: url("./content/tile.png");
  font: caption;
}

button {
  font: caption;
  border-width: 2px;
  border-color: #000001;
  background-image: linear-gradient(360deg, #b3b3b3, transparent);
}

button :hover {
  background-color: #CCCCCC !important;
}

.topbar {
  border-width: 2px;
  background-color: #44444455;
  overflow: hidden;
}

.topbar button {
  float: left;
  color: #000000;
  text-align: center;
  padding: 14px 25px;
  text-decoration: none;
  font-size: 18px;
}


.image {
  padding: 6px;
  float: left;
  width: 25%;
  border: 2px solid #000000;
}

.image img {
  width: 100%;
  height: auto;
}

.image .title {
  text-align: center;
}

.post {
  background-color: #a5a5a5;
  outline: 5px solid black;
}

.post .title {
  font-size: 30px;
}
